<div class="container-fluid login-bg">
  <div class="row">
    <div class="col-md-12 centered-box">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <img src="../assets/images/logo.png" alt="logo" class="splashLogo"> 
          <form class="form-horizontal" (submit)='loginUser($event)'>
            <div *ngIf="this.error.status == 422" class="alert alert-warning">
              <strong>Warning!</strong><br>
              You have entered invalid login details.
            </div>
            <div *ngIf="this.error.status == 401" class="alert alert-danger">
              <strong>Unauthorized!</strong><br>
              This email id/ password is not registered with us.<br>
              Or your account may be in-active to login.
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <i class="far fa-envelope icon"></i>
                <input id="email" type="email" class="form-control text-center" name="email" placeholder="Enter your email address" required="required" autofocus="autofocus" />
              <span *ngIf="this.error.data.errors.email" class="text-danger text-left">
                {{ this.error.data.errors.email[0] }}
              </span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <!-- <input id="password" type="password" class="form-control text-center" 
                title="Password must contain: Minimum 8 characters atleast 1 Alphabet and 1 Number" 
                name="password" placeholder="Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" />
                <span *ngIf="this.error.data.errors.password" class="text-danger text-left"> -->
                  <i class="fa fa-lock icon"></i>
                <input id="password" type="password" class="form-control text-center"
                name="password" placeholder="Password" required />
                <span *ngIf="this.error.data.errors.password" class="text-danger text-left">
                  {{ this.error.data.errors.password[0] }}
                </span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 text-left">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember" id="remember"> Remember Me
                  </label>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <a class="btn btn-link" routerLink="reset-password">
                  Forgot Your Password?
                </a>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">
                  <b>Login</b>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true">
  <p style="color: white" > Loading... </p>  
</ngx-spinner>