<div class="container-fluid login-bg">
  <div class="row">
    <div class="col-md-12 centered-box">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <img src="../assets/images/logo.png" alt="logo" class="splashLogo"> 
          <form class="form-horizontal" (submit)='loginUser($event)'>
            <div *ngIf="this.error" class="alert alert-warning"><strong>Warning!</strong> Please enter valid login details. Or your account may be in-active to login.</div>
            <div class="form-group">
              <div class="col-md-12">
                <input id="email" type="email" class="form-control" name="email" placeholder="Your email id" required="required" autofocus="autofocus">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <input id="password" type="password" class="form-control" name="password" placeholder="Password" required="required">
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 text-left">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember" id="remember"> Remember Me
                  </label>
                </div>
              </div>
              <div class="col-md-6 text-right">
                <a class="btn btn-link" href="reset-password">
                  Forgot Your Password?
                </a>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">
                  <b>Login</b>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
