<div id="dashboard" class="container-fluid">
  <div id="leftNav">
    <app-navigation></app-navigation>

  </div>
  <div id="container">
      <app-header-nav></app-header-nav>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-center">Sl No.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col" class="text-center">Status</th>
          <th *ngIf="userData.utype == 2" scope="col" class="text-center">Trash</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; index as i">
        <td class="text-center col-sm-1">{{i+1}}</td>
        <td class="text-capitalize">{{user.name}}</td>
        <td>{{user.email}}</td>
        <td class="text-center col-sm-1">
          <div *ngIf="userData.utype == 2">
              <input *ngIf="user.status == 1" type="checkbox" checked />
              <input *ngIf="user.status == 0" type="checkbox" />
          </div>
          <div *ngIf="userData.utype != 2">
              <span *ngIf="user.status == 1" class="text-success">Active</span>
              <span *ngIf="user.status == 0" class="text-danger">InActive</span>
          </div>
          </td>
          <td *ngIf="userData.utype == 2" class="text-center col-sm-1"> <i class="fa fa-trash text-danger" (click)="deleteUser(user.id)"></i> </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
