<ul id="menu">
    <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']"><i class="fa fa-tachometer-alt"></i> Dashboard</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['customer']"><i class="fa fa-user"></i> Customer</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['invoices']"><i class="fa fa-file-invoice-dollar"></i> Invoices</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['services']"><i class="fa fa-server"></i> Services</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['users']"><i class="fa fa-users"></i> Users</a></li>
    <li [routerLinkActive]="['active']"><a [routerLink]="['settings']"><i class="fa fa-cogs"></i> Settings</a></li>
</ul>
