<div id="logo">
    <span><img src="../../../assets/images/icon.png" alt='logo' /></span> <h4>EWHAdmin</h4>
</div>
<hr>
<ul id="menu">
    <li [ngClass]="{active: getCurrentUrl()==='/dashboard'}"><a routerLink="/dashboard"><i class="fa fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
    <li [ngClass]="{active: getCurrentUrl()==='/customer'}"><a routerLink="/customer"><i class="fa fa-user"></i> <span>Customer</span></a></li>
    <li [ngClass]="{active: getCurrentUrl()==='/invoices'}"><a routerLink="/invoices"><i class="fa fa-file-invoice-dollar"></i> <span>Invoices</span></a></li>
    <li [ngClass]="{active: getCurrentUrl()==='/services'}"><a routerLink="/services"><i class="fa fa-server"></i> <span>Services</span></a></li>
    <li [ngClass]="{active: getCurrentUrl()==='/users'}"><a routerLink="/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
    <li [ngClass]="{active: getCurrentUrl()==='/settings'}"><a routerLink="/settings"><i class="fa fa-cogs"></i> <span>Settings</span></a></li>
    <li><a routerLink="/" (click)="logoutUser()"><i class="fa fa-power-off"></i> <span>LogOut</span></a></li>
</ul>
